<section class="container-fluid section">
  <h3>Popular courses</h3>
  <div class="container-cards">
    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid section">
  <h3>All courses</h3>
  <div class="container-cards">
    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img
        src="https://media.todojujuy.com/p/d8f2ee1bd2cc2531c5844ce9d5ab4713/adjuntos/227/imagenes/003/245/0003245430/1200x675/smart/tecnica.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nombre del curso</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</section>