<section>
  <div class="container-card">
  <div class="card">
  <img class="img-curso" src="https://www.flowww.es/hubfs/%20Q12019_Marzo/BLOG/microblading-de-cejas-por-que-ofrecer-este-tratamiento-en-tu-centro_flowww.png" alt="">
    <div class="card-edit">
     <h3>Nombre del curso</h3>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore aliquam impedit reprehenderit, quas sed dolorum, ab enim blanditiis illum.</p>
     <button>Ver deatlles</button>
    </div>
  </div>
  <div class="card">
  <img class="img-curso" src="https://www.flowww.es/hubfs/%20Q12019_Marzo/BLOG/microblading-de-cejas-por-que-ofrecer-este-tratamiento-en-tu-centro_flowww.png" alt="">
    <div class="card-edit">
     <h3>Nombre del curso</h3>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore aliquam impedit reprehenderit, quas sed dolorum, ab enim blanditiis illum.</p>
     <button>Ver deatlles</button>
    </div>
  </div>
  <div class="card">
  <img class="img-curso" src="https://www.flowww.es/hubfs/%20Q12019_Marzo/BLOG/microblading-de-cejas-por-que-ofrecer-este-tratamiento-en-tu-centro_flowww.png" alt="">
    <div class="card-edit">
     <h3>Nombre del curso</h3>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore aliquam impedit reprehenderit, quas sed dolorum, ab enim blanditiis illum.</p>
     <button>Ver deatlles</button>
    </div>
  </div>
  <div class="card">
  <img class="img-curso" src="https://www.flowww.es/hubfs/%20Q12019_Marzo/BLOG/microblading-de-cejas-por-que-ofrecer-este-tratamiento-en-tu-centro_flowww.png" alt="">
    <div class="card-edit">
     <h3>Nombre del curso</h3>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore aliquam impedit reprehenderit, quas sed dolorum, ab enim blanditiis illum.</p>
     <button>Ver deatlles</button>
    </div>
  </div>
</div>
