<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <main>
    
    <div class="container-home">
      <div class="container-text">
        <h1>Formaci칩n estetica online</h1>
        <p>Cursos, tutoriales y ejercicios pr치cticos</p>
        <p>Microblading, Adhocblading y mucho m치s </p>
        <p>para que puedas aprender por ti mismo</p>
      </div>
      <div class="container-icons">
        <p>Aprende con expertos</p>
        <p>Aprende por ti mismo</p>
        <p>La mejor formaci칩n</p>
        <p>Tutoriales y ejercicios</p>
      </div>
    </div>
  </main>
</body>
</html>